.project-card {
    text-align: center;
    height: 22rem;
    max-width: 15rem !important;
    margin-left: 1rem !important;
    margin-top: 1rem !important;
    background-color: #5C3CA4 !important;
    -webkit-box-shadow: -2px 15px 20px -9px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: -2px 15px 20px -9px rgba(0,0,0,0.75) !important;
    box-shadow: -2px 15px 20px -9px rgba(0,0,0,0.75) !important;
}


.player-card {
  height: 26.5rem;
  max-width: 20rem !important;
  background-color: #FFF785 !important;
  margin-top: 0px !important;
  }

  .p1 {
    left: 30rem !important;
  }


  .p2 {
    left: 500px !important;
  }

  .project-text {
    height: 8rem;
    font-size: 2rem;
    margin-top: 7rem;
    line-height: 100%;
    color: white;
}


.card-div {
  width: 10rem !important;
}

.sentence {
font-size: 7rem !important;
}

.sentence-row {
  padding: 0px !important;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child {
  margin-top: 32px;
  color: white;
}