.project-card {
    text-align: center;
    height: 22rem;
    max-width: 15rem !important;
    margin-left: 1rem !important;
    margin-top: 1rem !important;
    background-color: #5C3CA4 !important;
    -webkit-box-shadow: -2px 15px 20px -9px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: -2px 15px 20px -9px rgba(0,0,0,0.75) !important;
    box-shadow: -2px 15px 20px -9px rgba(0,0,0,0.75) !important;
  }
  
  
  .player-card {
    height: 26.5rem;
    max-width: 20rem !important;
    background-color: #FFF785 !important;
    margin-top: 0px !important;
  }
  
  .p1 {
    left: 20rem !important;
  }
  
  .project-text {
    
    height: 8rem;
    font-size: 2.5rem;
    margin-top: 7rem;
    line-height: 100%;
    color: white;
}

.p2 {
  left: 500px !important;
}

.card-div {
  width: 10rem !important;
}

.sentence {
font-size: 7rem !important;
}